body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.Description {
	border: 2px ridge #00994d;
  font-family:sans-serif ;
  font-style: italic;
}
h1 {
  text-align: center;
  margin-top: 0;
}

.form-group, .Problem {
  margin-bottom: 20px;
  font-size: 22px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
select {
	font-size:16px;	
	color: green;
}

textarea {
  width: 90%;
  height: 200px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.button-group {
  text-align: center;
}

button {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button + button {
  margin-left: 10px;
}

